<a href="https://colab.research.google.com/github/nsgrn/Python-Intro-Assignment/blob/main/List_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1- Write a code
to compute the sum of the two lowest numbers and the two highest numbers in the following list.

my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [9]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
two_lowest = my_list[0] + my_list[1]
two_highest = my_list[-1] + my_list[-2]
print(two_lowest + two_highest)

188

#2- The following two lists
contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [24]:
list_names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
list_scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
list_scores[list_names.index(input("enter_a_name: "))]

enter_a_name: Michael

87

#3- By using the two lists above,
what is the maximum score and how many students got that score?

In [48]:
maximum_score = max(list_scores)
print(maximum_score)
print(list_scores.count(maximum_score))

99
1